
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
}

.formContainer {
    width: 400px;
    height: 400px;
    margin: 0 auto 0 auto;
    padding: 32px;
    background: white;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }
.input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid rgb(63, 73, 204);
  font-size: 0.9rem;
}

.btn {
  width: 100%;
  margin-top: 10px;
  padding: 14px;
  border-radius: 6px;
  border: 1px solid rgb(153, 217, 234);
  background: rgb(94, 140, 153);
  font-weight: bold;
  color: white; 
  cursor: pointer;
}
.btn:hover {
border: 1px solid black;
}