.chatRoom {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background: lightblue;

}